body {
  font-family: $body-font;
  margin: 0;
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main-page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
}
