body {
  font-family: $body-font;
  margin: 0;
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .nav-wrapper {
    flex: 0 0 250px;
  }

  .main-page {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;

    .page-content {
      display: flex;
      flex-direction: column;
      padding: 1rem;
    }
  }
}
