// Colours
$charcoal: #2E2E2E;
$grey: #333333;
$light-blue: #a3daff; //could be a good accent colour light greyish blue

// theme colours
$background-colour:
$secondary-background: #fff;

$text-colour: #333;
$lighter-text: #5c5c5c;

$light-border: #e5e5e5;

// Components

// Side bar
$menu-text-colour: white;

$sidebar-header-bg: #303641;
$sidebar-list-bg: #4A5664;
$sidebar-footer-bg: #303641;
