// Colours


// theme colours
$background-colour:#fff;
$secondary-background: #fafafa;
$tertiary-background: #f0f0f0;

$text-colour: #333;
$lighter-text: #5c5c5c;

$secondary-colour: #e75e40;
$secondary-text-colour: #fff;
$tertiary-colour: #f28d35;

$icon-colour: #c9c9c9;

$light-border: #e5e5e5;

$btn-colour: #38ae67;
$btn-border-colour: #2faa60;
$btn-text-colour: #fff;

// Components

// Side bar
