.sidebar {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  width: 15vw;
  height: 100vh;
  border-right: 1px solid $light-border;
  color: $text-colour;
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: auto;
  padding: 0.5rem 1rem;
  background-color: $tertiary-background;
  border-bottom: 1px solid $light-border;
  align-items: center;

  .user-details {
    padding-right: 4rem;

    p {
      margin: 0;
    }

    > :first-child {
      color: $lighter-text;
      font-size: 1.75em;
      font-weight: 600;
    }

    > :last-child {
      font-size: 0.9em;
      font-weight: 300;
    }

  }

  .options-menu-btn:after {
    cursor: pointer;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    content: '\2807';
    font-size: 1.5em;
  }
}

.sidebar-list-container {
  background-color: $secondary-background;
  height: 100vh;

  > :first-child {
    margin-top: 1rem;
  }
}
.sidebar-list {
  margin: 0;
  padding: 0.1rem 2rem;
  cursor: pointer;

  &:hover {
    color: $btn-text-colour;
    background-color: $btn-colour;
    transition: background 0.3s ease;
    transition: color 0.3s ease;
  }
}

.active {
  color: $btn-text-colour;
  background-color: $btn-colour;
}

.sidebar-footer {
  padding: 0.5rem 0 0.5rem 1rem;
  margin: 0;
  background-color: $secondary-background;

  label {
    color: $text-colour;
    cursor: pointer;
  }
}
