.page-top-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 85vw;
  padding: 1rem;

  h1 {
    margin: 0;
    font-weight: 400;
  }

  .hole-completed {
    margin: 0;
    padding: 0.5em 1em;
    color: #777;
    cursor: pointer;

    input {
      margin-right: 0.4em;
    }
  }

  .active-link {
    color: $btn-text-colour;
    background-color: $btn-colour;
  }

  .flex-right {
    display: flex;
  }
}
