.page-top-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 85vw;
  padding: 1rem;

  .topbar-title {
    font-weight: 300;
  }

  .button {
    background-color: $lighter-text;
    width: 60px;
    }

  .active {
    background-color: $btn-colour;
  }

  .flex-right {
    display: flex;
  }

  #toggle-completed {
    margin-right: 1em;
    cursor: pointer;
  }

  .completed {
    color: $btn-colour;
  }
}
